.container-recebimento .ficha {
    width: 100%;
    max-width: 680px;
    padding: 50px;
    box-shadow: 0 0 10px #000;
    border-radius: 0px;
    
    justify-content: space-between;
}

.container-recebimento .ficha label {
    font-size: 15px;
    font-weight: 500;
    display: flex;
    margin-bottom: 5px;
    margin-top: 10px;
}

input {
    width: 70%;
    height: 40px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 15px;
    margin-bottom: 12px;
}