.container-lista  {
    padding: 0 30px;
    width: 100%;
    max-width: auto;
}

.content {
    display: flex;
    margin-top: 15px;
    justify-content: center;
    margin-bottom: 5%;
}

.content .tabela th {
    border: 1px solid black;
    padding: 8px 15px;
}

.icone {
    margin-left: 5px;
}

.icone-home {
    margin-right: 5px;
}

.opcao {
    margin-top: 10px;
    margin-left: 10px;
}